# Langchain library
langgraph
langsmith
langchain-groq
langchain-community

# FastAPI and related libraries
fastapi
uvicorn
python-multipart

# Vector DB libraries
qdrant-client 
sentence-transformers 
numpy

# Persistence storing libraries
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg2-binary
asyncpg


python-dotenv
pydantic-settings
apscheduler
aioodbc